<div th:fragment="makecsvModal">
    <div class="modal fade" id="makecsvModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered custom-modal">
            <div class="modal-content">
                <div class="d-flex justify-content-center align-items-center" style="height: 200px;">
                    <div class="container-fluid">
                        <p class="custom-text--large text-center">CSVファイルをサーバーに保存しますか？</p>
                    </div>
                </div>
                <div class="row gx-5 ms-3">
                    <div class="col-12 text-center">
                        <p class="custom-text">ファイル名は日時で自動生成されます。</p>
                    </div>
                </div>
                <div class="modal-footer d-flex justify-content-center gap-4">
                    <button type="button" class="btn custom-btn-modal btn-danger" style="width: 25%" 
                            onclick="saveCsvToServer();" data-bs-dismiss="modal">OK</button>
                    <button type="button" class="btn custom-btn-modal btn-secondary" data-bs-dismiss="modal" style="width: 25%">キャンセル</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:fragment="stockfilteringModal">
    <div class="modal fade" id="stockfilteringModal" tabindex="-1" aria-hidden="true" data-bs-backdrop="static">
        <div class="modal-dialog  custom-modal">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title w-100 custom-text--large text-center">絞り込み条件を入力してください</h1>
                </div>
                
                <form th:action="@{/stock/filtering}" method="post" th:object="${analysisToolData}">
                    <div class="modal-body">
                        <div class="container mt-4">
                            <div class="row mb-3 align-items-center justify-content-center">
                                <label for="year" class="col-sm-3 col-form-label custom-text text-center">年度</label>
                                <div class="col-sm-6">
                                    <select th:field="*{year}" class="form-select custom-text" required onchange="updateMonths(this.value)">
                                        <option selected value="">始めに選択してください</option>
                                        <option th:each="ym : ${yearMonthStructure}" th:value="${ym.year}" th:text="${ym.year}"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-3 align-items-center justify-content-center">
                                <label for="monthSelect" class="col-sm-3 col-form-label custom-text text-center">月</label>
                                <div class="col-sm-6">
                                    <select th:field="*{period}" id="monthSelect" class="form-select custom-text" required disabled>
                                        <option selected value=""> </option>
                                    </select>
                                </div>
                            </div>
							
							<div class="row mb-3 align-items-center justify-content-center">
							    <label for="lineName" class="col-sm-3 col-form-label custom-text text-center">ライン名</label>
							    <div class="col-sm-6">
							        <select th:field="*{lineName}" class="form-select custom-text">
							            <option selected value="全て">(全て)</option>
							            <option th:each="line : ${lineCandidates}" th:value="${line}" th:text="${line}"></option>
							        </select>
							    </div>
							</div>
							
                            <div class="row mb-3 align-items-center justify-content-center">
                                <label for="category" class="col-sm-3 col-form-label custom-text text-center">分類</label>
                                <div class="col-sm-6">
                                    <select th:field="*{category}" class="form-select custom-text">
                                        <option selected value="全て">(全て)</option>
                                        <option value="インサート">インサート</option>
                                        <option value="ドリル">ドリル</option>
                                        <option value="リーマー">リーマー</option>
                                        <option value="エンドミル">エンドミル</option>
                                        <option value="タップ">タップ</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-3 align-items-center justify-content-center">
                                <label for="manufacturer" class="col-sm-3 col-form-label custom-text text-center">メーカー</label>
                                <div class="col-sm-6">
                                    <select th:field="*{manufacturer}" class="form-select custom-text">
                                        <option selected value="全て">(全て)</option>
                                        <option th:each="maker : ${makerCandidates}" th:value="${maker}" th:text="${maker}"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-3 align-items-center justify-content-center">
                                <label for="tool_material" class="col-sm-3 col-form-label custom-text text-center">材質</label>
                                <div class="col-sm-6">
                                    <select th:field="*{tool_material}" class="form-select custom-text">
                                        <option selected value="全て">(全て)</option>
                                        <option th:each="material : ${materialCandidates}" th:value="${material}" th:text="${material}"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-3 align-items-center justify-content-center">
                                <label for="tradingCompany" class="col-sm-3 col-form-label custom-text text-center">商社</label>
                                <div class="col-sm-6">
                                    <select th:field="*{tradingCompany}" class="form-select custom-text">
                                        <option selected value="全て">(全て)</option>
                                        <option value="A社">A社</option>
                                        <option value="B社">B社</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer d-flex justify-content-center gap-5">
                        <button type="submit" class="btn custom-btn-modal btn-danger" style="width: 25%">OK</button>
                        <button type="button" class="btn custom-btn-modal btn-secondary" data-bs-dismiss="modal" style="width: 25%">キャンセル</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>